@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* Typography */
h1 {
  font-size: 3.25rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.875rem;
}
h4 {
  font-size: 1.375rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.125rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  font-size: 1rem;
  line-height: 1.8em;
}
