$primary: #dca155;
$secondary: #fff3e4;
$black: #000;
$black-2: #0d0d0d;
$black-3: #404040;
$white: #fff;
$gradient: linear-gradient(
  45deg,
  rgba(211, 156, 73, 1) 0%,
  rgba(211, 156, 73, 1) 12%,
  rgba(255, 255, 255, 1) 50%,
  rgba(214, 163, 87, 1) 90%,
  rgba(211, 156, 73, 1) 100%
);
$font-primary: "Inter", sans-serif;
