/// section footer
.footer {
  border-bottom: 1px solid $black-3;
  &__inner {
    display: flex;
    a {
      color: $white;
      font-size: 1.25rem;
      font-weight: 400;
      text-align: center;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $primary;
        &:after {
          background: $primary;
        }
      }
    }
    &-link {
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -0.125rem;
        background: $white;
        transition: 0.3s ease-in-out;
      }
    }
    &-row {
      padding: 1.8rem 1.2rem;
      display: flex;
      gap: 1.5rem;
      border-bottom: unset !important;
    }
  }
  .column {
    &Sm {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
}
@mixin footer-840 {
  .footer {
    padding: 20px 0;
    border-bottom: unset;
    &__inner {
      padding: 0;
      gap: 20px;
      justify-content: center;
      gap: 0.8rem;
      a {
        font-size: 0.9rem;
      }
      &-link {
        &:after {
          bottom: -2px;
        }
      }
      &-row {
        padding: 0;
        display: flex;
        gap: 20px;
        gap: 1rem;
      }
      .column {
        display: none;
        &Sm {
          justify-content: flex-end;
          width: auto;
        }
        &Lg {
          width: auto;
        }
      }
    }
  }
}
