/// section footer
.footer {
  &__inner {
    display: flex;
    align-items: center;
    gap: 6.1rem;
    padding: 1rem;
    a {
      color: $white;
      font-size: 1.25rem;
      font-weight: 400;
      text-align: center;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $primary;
        &:after {
          background: $primary;
        }
      }
    }
    &-link {
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -0.125rem;
        background: $white;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
@mixin footer-840 {
  .footer {
    padding: 20px 0;
    &__inner {
      padding: 0;
      gap: 20px;
      justify-content: center;
      a {
        font-size: 0.9rem;
      }
      &-link {
        &:after {
          bottom: -2px;
        }
      }
      &-row {
        padding: 0;
        display: block;
        gap: 20px;
      }
      .rowSm {
        justify-content: flex-end;
      }
    }
  }
}
