@media (max-width: 1580px) {
  html {
    font-size: 1.78vh;
  }
}
@media (max-width: 1440px) and (min-height: 800px) {
  html {
    font-size: 1.8vh;
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1025px) {
}
@media (max-width: 840px) {
  html {
    font-size: 20px;
  }
  .autoContainer {
    padding: 0 20px;
  }
  @include header-840;
  @include footer-840;
  @include blog-840;
}
@media (max-width: 768px) {
}
@media (max-width: 580px) {
  html {
    font-size: 3.2vw;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 4.5vw;
  }
  .autoContainer {
    padding: 0 15px;
  }
  @include blog-480;
}
